.main-content{
    margin:60px 10px 0;
    width:calc(100% - 20px);
    background-color: #fff;
    border-radius:10px;
    z-index: 99;
    box-shadow: 0 0 20px rgba(black, .05);
    overflow:hidden!important;

    .scroll-content{
        margin:0 0 100px!important;
    }
}

// Change toolbar background
.toolbar-background-md{
    background-color: transparent!important;
}

rating{
    ul{
        padding:0!important;
        
        li{
            padding: 5px 0!important;
            
            ion-icon{
                color:$yellow;
            }
        }
    }
}

.no-padding{padding:0!important;}
.no-padding-left{padding-left:0!important}
.no-padding-right{padding-right:0!important}
.no-padding-top{padding-top:0!important}
.no-padding-bottom{padding-bottom:0!important}

.no-margin{margin:0!important;}
.no-margin-left{margin-left:0!important}
.no-margin-right{margin-right:0!important}
.no-margin-top{margin-top:0!important}
.no-margin-bottom{margin-bottom:0!important}


.keyboard-is-open ion-footer{
    display:none!important;
}

.keyboard-is-open .scroll-content {
    margin-bottom: 0 !important;
}

.platform-ios .main-content{
    margin-top: 80px;
}