.primary-color-text{
    color:$primary-color!important;
}
.secondary-color-text{
    color:$secondary-color!important;
}
.third-color-text{
    color:$third-color!important;
}
.fourth-color-text{
    color:$fourth-color!important;
}
.yellow-text{
    color:$yellow!important;
}

.light-gray-text{
    color:$light-gray!important;
}
.darker-gray-text{
    color:$darker-gray!important;
}
.dark-gray-text{
    color:$dark-gray!important;
}

.align-center{ text-align: center!important; }