// $primary-color: #4B67FF;
// $secondary-color: #00447C;
// $third-color: #E61D33;
// $fourth-color: #4BD1B2;

// $red: #E61D33;
// $yellow: #F9AB2D;

// $success-color: #4BD1B2;

// $light-gray: #F7F7F9;
// $darker-gray: #60626d;
// $dark-gray: #7B8A96;

$primary-color: #1c2443;
$secondary-color: #ff7d00;
$third-color: #E61D33;
$fourth-color: #4BD1B2;

$red: #E61D33;
$yellow: #F9AB2D;

$success-color: rgb(108,190,66);

$light-gray: #F7F7F9;
$darker-gray: #60626d;
$dark-gray: #7B8A96;