page-content-list {
    ion-footer{
        z-index: 99;

        &:before{
            display:none;
        }

        &:after{
            content:'';
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:200%;
            background: linear-gradient(to bottom, transparent 30%, #fff 70%);
        }
    }
}
